*{
    box-sizing: border-box;
}

header {
    background-color: #222b69;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

#logo{
    background-color: #15173D;
    padding: 10px 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

h1 {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    color: #fff;
}

nav{
    margin-left: auto;
}

.header{
    list-style-type: none;
    display: inline-block;
    background-color: #15173D;
    padding: 15px 20px;
    text-align: center;
    font-family: sans-serif;
    /* font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal; */
}

.header:hover{
    color: #000;
    background-color: #E491C9;
    cursor: pointer;
}

a.nav{
    color: #fff;
}

a.nav:link {
    text-decoration: none;
}

a.nav:visited {
    text-decoration: none;
}

/* a.nav:hover {
    color: #000;
} */

a.nav:active {
    color: #FF5DA2;
}

#acceso {
    background-color: #222b69;
    padding: none;
}
/* a.login:hover {
    color: #FF5DA2;
} */

#contacto {
    width: 15px;
    height: 15px;
}

/* AQUI TERMINA EL HEADER*/

footer{
    background-color: #15173D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}
#logopie{
    
    width: 100x;
    height: 100px;
}

.imapie{
    width: 50px;
    height: 50px;
}
#logito{
    /* position: relative;
    right: 150px; */
    margin: 0px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

#pie{
    font-family: sans-serif;
    color: #fff;
    width: 500px;
}
.imapie{
    padding: 10px 10px;
}
#seguir{
    font-family: sans-serif;
    color: #fff;
}
#s{
    margin: 0px;
}
/* AQUI TERMINA EL FOOTER */

#presentacion{
    margin: 10px;
    height: 500px;
    background-image: url(https://www.shutterstock.com/image-vector/vector-illustration-women-swimming-competition-600nw-2620202529.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 0px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
#acerca{
    padding: 30px 45px; 
    background-color: rgba(75, 0, 130, 0.3);
    height: 500px;
    max-width: 755px;
}
.pa{
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}
#pad{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-decoration: solid;
}
#reg{
    font-family: sans-serif;
    font-size: 15px;
    background-color: #99DDCC;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#log{
    font-family: sans-serif;
    font-size: 15px;
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#log:hover{
    background-color: #000;
    color: #fff;
}
#reg:hover{
    background-color: #000;
    color: #99DDCC;
}

#pres{
    height: 500px;
}

/* AQUI TERMINA LA PRIMER SECCION DEL INICIO */

div#train{
    margin: 10px;
    background-image: url(https://img.freepik.com/vector-gratis/piscina-deportiva-vista-superior-agua-rasgada-azul_107791-2385.jpg?semt=ais_user_personalization&w=740&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 725px;
    display: flex;
    align-items: center;
}

.mensaje{
        text-align: center;

    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 400px;
    
}
.ir{
    background-color: #B0E0E6;
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-size: 20px;
}
/* .ir:hover{
    background-color: #000;
     cursor: pointer;
} */
.re{
    font-family: sans-serif;
    font-size: 22px;
}
.h3{
    text-decoration: solid;
    font-family: sans-serif;
    font-size: 30px;
}
