*{
    box-sizing: border-box;
}

header {
    background-color: #222b69;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

#logo{
    background-color: #15173D;
    padding: 10px 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

h1 {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    color: #fff;
}

nav{
    margin-left: auto;
}

.header{
    list-style-type: none;
    display: inline-block;
    background-color: #15173D;
    padding: 15px 20px;
    text-align: center;
    font-family: sans-serif;
    /* font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal; */
}
#volver{
    background-color: #9c106d;
}
#volver:hover{
    background-color: #E491C9;
}

.header:hover{
    color: #000;
    background-color: #E491C9;
    cursor: pointer;
}

a.nav{
    color: #fff;
}

a.nav:link {
    text-decoration: none;
}

a.nav:visited {
    text-decoration: none;
}

/* a.nav:hover {
    color: #000;
} */

a.nav:active {
    color: #FF5DA2;
}

#acceso {
    background-color: #222b69;
    padding: none;
}
/* a.login:hover {
    color: #FF5DA2;
} */

.contacto {
    width: 15px;
    height: 15px;
}

/* AQUI TERMINA EL HEADER*/

footer{
    background-color: #15173D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}
#logopie{
    
    width: 100x;
    height: 100px;
}

.imapie{
    width: 50px;
    height: 50px;
}
#logito{
    /* position: relative;
    right: 150px; */
    margin: 0px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

#pie{
    font-family: sans-serif;
    color: #fff;
    width: 500px;
}
.imapie{
    padding: 10px 10px;
}
#seguir{
    font-family: sans-serif;
    color: #fff;
}
#s{
    margin: 0px;
}
/* AQUI TERMINA EL FOOTER */

#presentacion{
    margin: 10px;
    height: 500px;
    background-image: url(https://www.shutterstock.com/image-vector/vector-illustration-women-swimming-competition-600nw-2620202529.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 0px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
#acerca{
    padding: 30px 45px; 
    background-color: rgba(75, 0, 130, 0.3);
    height: 500px;
    max-width: 755px;
}
.pa{
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}
#pad{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-decoration: solid;
}
#reg{
    font-family: sans-serif;
    font-size: 15px;
    background-color: #AFEEEE;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#log{
    font-family: sans-serif;
    font-size: 15px;
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#log:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}
#reg:hover{
    background-color: #38c0c0;
    cursor: pointer;
}

#pres{
    height: 500px;
}

/* AQUI TERMINA LA PRIMER SECCION DEL INICIO */

div#train{
    margin: 10px;
    background-image: url(https://img.freepik.com/vector-gratis/piscina-deportiva-vista-superior-agua-rasgada-azul_107791-2385.jpg?semt=ais_user_personalization&w=740&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 725px;
     /* display: flex;
    align-items: center;  */
}
#content{
    display: flex;
}


#sing{
    margin: 0px;
    padding: 55px;
    -webkit-text-stroke: 0.5px #fff;
    text-decoration: solid;
    color: #000000;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
}
.mensaje{
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    
}
.ir{
    background-color: #E6E6FA;
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-size: 20px;
}

.ir:hover{
    background-color: #b1b1ef;
    cursor: pointer;
}

.re{
    font-family: sans-serif;
    font-size: 18px;
}

.h3{
    text-decoration: solid;
    font-family: sans-serif;
    font-size: 30px;
}
/* AQUI TERMINA LO DE ALUMNOS, ENTRENADORES Y ESCUELAS */
#comp{
    display: flex;
    align-items: center;
}
#text{
    background-color: #9cead0;
    height: 420px;
    padding: 30px;
}
#v{
    margin: 20px;
    background-color: #4bc99f;
    border-radius: 15px;
    width: 700px;
    font-family: sans-serif;
    font-size: 40px;
    text-decoration: solid;
}
.t{
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
}
#c{
    background-color: #FFEFD5;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border: 0px;
    padding: 15px;
}
#c:hover{
    background-color: #e2c390;
    cursor: pointer;
}
/* AQUI TERMINA LOS TORNEOS */



/* ACADEMIA
AQUI EMPIEZA UNA NUEVA PAGINA
AQUI EMPIEZA ACADEMIA */


#welcome{
    background-color: #15173D;
    margin: 20px 54px 20px 54px;
    padding: 30px;
}
#wel{
    color: #fff;
    margin: 0px 0px 40px 0px;
    font-size: 80px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
#come{
    color: #fff;
    font-family: sans-serif;
    font-size: 25px;
    padding: 0px 50px;
    text-align: justify;
}
.nivel{
    align-items: center;
    margin: 20px 54px 20px 54px;
    padding: 30px;
}


.contain-card{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    padding: 30px;
    background-color: #fff;
    border-radius: 40px;
    width: 400px;
    height: 400px;
}

div.pri:hover{
    box-shadow: 5px 5px 5px 5px rgba(160, 178, 69, .3);
}
div.int:hover{
    box-shadow: 5px 5px 5px 5px rgba(54, 225, 225, .3);
}
div.ava:hover{
    box-shadow: 5px 5px 5px 5px rgba(147, 147, 239, .3);
}
div.ext:hover{
    box-shadow: 5px 5px 5px 5px rgba(244, 244, 120, .3);
}

.topo{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.bottom{
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
}
.top-bottom{
    margin: 0px 0px 25px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}
.top{
    color: #15173D;
    margin: 0px 0px 40px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}
#extras{
    background-color: #FFFFE0;
}
#avanzado{
    background-color: #E6E6FA;
}
#intermedio{
    background-color: #E0FFFF;
}
#principiante{
    background-color: #eef6c6;
}
.in{
    font-family: sans-serif;
    color: #15173D;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px #15173D solid;
    font-size: 20px;
}
.in:hover{
    color: #E491C9;
    border: 2px #E491C9 solid;
}
.in:focus{
    color: #9c106d;
    border: 2px #9c106d solid;
}

.co{
    font-family: sans-serif;
    background-color: #15173D;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px #15173D solid;
    font-size: 20px;
}

.co:hover{
    background-color: #E491C9;
    border: 2px #E491C9 solid;
}
.co:active{
    background-color: #9c106d;
    border: 2px #9c106d solid;
}

.pri{
    border:5px #a0b245 solid;
}
.int{
    border:5px #36e1e1 solid;
}
.ava{
    border:5px #9393ef solid;
}
.ext{
    border:5px #f4f478 solid;
}
h4.pri{
    border: none;
    color: #45510a;
}
h4.int{
    border: none;
    color:  #0b5b5b;
}
h4.ava{
    border: none;
    color: #262661;
}
h4.ext{
    border: none;
    color: #3e4614;
}

/* ACADEMIA
AQUI TERMINA UNA NUEVA PAGINA
AQUI TERMINA ACADEMIA */

/* AQUI COMIENZA EL ESTILO GENERAL DE TODOS LOS MODULOS */

.nombre-modulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0;
    
    margin: 0px 54px 20px 54px;
    padding: 20px 100px 20px 100px;
}
#cursos{
    margin: 0px 0px 0px 40px;
    box-sizing: content-box;
    padding: 20px;
    background-color: #fff;
    border: 4px #15173D solid;
    border-radius: 25px;
}
.nombre-curso{
    font-size: 50px;
    color: #15173D;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.leccion{
    margin: 0px 100px 20px 100px;
}
.nombre-leccion{
    color: #222b69;
    font-family: sans-serif;
    font-size: 30px;
}
.contenido-leccion{
    border-radius: 20px;
    background-color: #B0E0E6;
    background-color: #B0E0E6;
}
.lectura{
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nombre-lectura{
    font-size: 20px;
    font-family: sans-serif;
}
.abrir-lectura{
    padding: 10px 20px;
    border-radius: 15px;
    color: #129bad;
    border: 3px #129bad solid;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.divisor-nombres{
    background-color: #15173D;
    height: 3px;
}
.abrir-ejercicio{
    border: none;
    background-color: #129bad;
    color: #fff;
}
.abrir-quiz{
    border: none;
    border-radius: 0px;
    color: #fff;
    background-color: #15173D;
}
.nombre-quiz{
    font-weight: bold;
    color: #222b69;
    font-size: 30px;
    text-decoration: dashed;
}
.nombre-ejercicio{
    font-size: 25px;
}

.abrir-lectura:hover{
    color: #0a545e;
    border: 3px #0a545e solid;
    cursor: pointer;
}
.abrir-ejercicio:hover{
    border: none;
    background-color: #0a545e;
    color: #fff;
    cursor: pointer;
}
.abrir-quiz:hover{
    border: none;
    color: #fff;
    background-color: #E491C9;
}

.certificado{
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #E6E6FA;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 25px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: #0b5b5b;
}
.certificado:hover{
    border: 3px #9393ef solid;
    color: #9393ef;
    cursor: pointer;
}
.certificacion a{
    text-decoration: none;
}
/* AQUI TERMINA EL ESTILO GENERAL DE TODOS LOS MODULOS */

/* AQUI COMIENZA EL DISEÑO DEL NAVEGADOR DE LAS LECTURAS */
.leyendo hr{
    border: none;
    background-color: #fff;
    color: #fff;
    height: 2px;
    margin-top: 20px;
}

.leyendo ul{
    padding: 0px;
}
nav.leyendo li{
    padding: 10px 15px 0px 15px;
   text-align: left;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 15px;
   
}
nav.leyendo h5{
    color: #AFEEEE;
    font-family: sans-serif;
    font-size: 18px;
}
nav.leyendo{
    border-radius: 15px;
    align-self: flex-start;
    position: sticky;
    top: 20px;
    left: 54px;
    top: 0;  
    padding: 20px;
    display: block;
    margin: 20px 20px;
    text-align: center;
    width: 300px;
    background-color: #15173D;
    overflow-y: scroll;
    height: 500px;
}
nav.leyendo a{
    text-decoration: none;
    color: #fff;
}
.leyendo a:hover{
    color: #b1b1ef;
    cursor: pointer;
}
.leyendo a:active{
    color: #9393ef;
}

/* ACOMDO LEER */
.leer button{
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 15px 10px;
}

.leer button:hover{
    cursor: pointer;
    background-color: #129bad;
}

#ir_modulo{
    background-color: #222b69;
    color: #fff;
}

#ir_modulo:hover{
    background-color: #E491C9;
    cursor: pointer;
}

.leer{
    align-self: flex-start;
    margin: 20px 20px 20px 0px;
    height: 100%;
    display: block;
    padding: 30px 54px;
    width: 700px;
    background-color: #E0FFFF;
}

.leer hr{
    border: none;
    background-color: #15173D;
    height: 3px;
    color: #15173D;
    margin: 0px 0px;
}

.leer h2{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}
.leer h3{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
.leer h4{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.leer p{
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}
.leer li{
    font-family: sans-serif;
    font-size: 18px;
}
.leer table{
    margin: 0px auto;
    border-collapse: collapse;
}
.leer th{
    background-color: #0a545e;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.leer td{
    border: 2px #0a545e solid;
    color: #15173D;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
}

/* ACOMODO RECURSOS */
.recursos{
    align-self: flex-start;
    width: 550px;
    padding: 20px 25px;
}
.recursos h2{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}
.recursos h3{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
.recursos h4{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.recursos p{
    font-family: sans-serif;
    font-size: 20px;
}
.recursos a{
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
}

/* ACOMODO SECCION NAV Y LECTURA */
.contenido-la-lectura{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 54px 20px 54px;
}
/* AQUICOMIENXA LA ESTILIZACION DE LOS BOTONES DEL FORMULARIO DE ENTREGA */
input[type="file"]{
    color: #1f7d7d;
    font-family: sans-serif;
    font-size: 16px;
}

input[type="file"]::file-selector-button {
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: #AFEEEE;
    font-family: sans-serif;
    font-size: 16px;
}

input[type="file"]::file-selector-button:hover {
    color: #fff;
    background-color: #0b4242;
    cursor: pointer;
}
.recursos button{
    background-color: #15173D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 20px;
}
.recursos textarea{
    border-radius: 15px;
    border: 2px #222b69 solid;
}